<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小饭桌</title>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bufanajax.min.js' %}"></script>
    <script src="{% static 'js/index.min.js' %}"></script>
    {% block header %}{% endblock %}
</head>
<body>
<!-- 顶部导航条 -->
<div class="header">
    <div class="container">
        <div class="logo">
            <a href="#"></a>
        </div>
        <div class="top_catogery">
            <ul>
                <li>
                    <a>咨询</a>
                </li>
                <li class="active">
                    <a>在线课堂</a>
                </li>
                <li>
                    <a>企业服务</a>
                </li>
                <li>
                    <a>搜索</a>
                </li>
            </ul>
        </div>
        <div class="auth-group">
           <!-- <span class="icon-person">&#xe6ab;</span> -->
            <div class="icon-content"><a id="sign-in" href="#">登陆</a>/<a id="sign-up" href="#">注册</a></div>
        </div>
    </div>
</div>
<!-- 在线课堂导航 -->
<div class="courseheader">
    <div class="title-group">
        <div class="title"><a href="{% url "course:course_list" %}">在线课堂</a></div>
        {% block headercontent %}

        {% endblock %}
        <div class="mycourse"><a href="#">我的课堂</a></div>
    </div>
</div>
<!-- 导航结束 -->
<div class="main">
    {% block content %} {% endblock %}
    <!--底部footer -->
    <div class="foot-warpper">
        <div class="cooperation">
            <div class="cp-dispaly">
            <p>合作伙伴</p>
            <ul>
                <li><a href="#" target="_blank"><img src="https://static-image.xfz.cn/1458712198_488.png"></a></li>
                <li><a href="#"><img src="https://static-image.xfz.cn/1479889334_138.png"></a></li>
                <li><a href="#"><img src="https://static-image.xfz.cn/1454046614_958.png"></a></li>
                <li><a href="#"><img src="https://static-image.xfz.cn/1454046552_487.png"></a></li>
            </ul>
            </div>
        </div>
        <div class="copyritght-group">
            <span> 123</span>
        </div>
    </div>
</div>
</body>
</html>